html, body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #343a40;
}

.container {
    height: 100%;
    max-width: 500px;
}

.card-footer {
    background-color: #fff;
    padding: 0;
}

#temperature {
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 20px;
    padding-bottom: 0;
}

#temperature #degrees {
    color: #8375a5;
}

#temperature #degrees:hover {
    opacity: 0.8;
    cursor: pointer;
}

#weather {
    margin-top: 10px;
    font-weight: 900;
    color: #8375a5; 
}

#location {
    margin-bottom: 10px;
}

#location span {
    border-bottom: 1px #8375a5 dotted;
}

.blue-gradient {
    background: -moz-linear-gradient(270deg, rgba(198,184,233,1) 0%, rgba(180,209,236,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(198,184,233,1)), color-stop(100%, rgba(180,209,236,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, rgba(198,184,233,1) 0%, rgba(180,209,236,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, rgba(198,184,233,1) 0%, rgba(180,209,236,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, rgba(198,184,233,1) 0%, rgba(180,209,236,1) 100%); /* ie10+ */
    background: linear-gradient(180deg, rgba(198,184,233,1) 0%, rgba(180,209,236,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C6B8E9', endColorstr='#B4D1EC',GradientType=0 ); /* ie6-9 */
}

#credentials {
    padding-top: 10px;
    margin-bottom: 0;
    font-size: 0.6em;
}